# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Database
*.sqlite3
db.sqlite3

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
.DS_Store

# Staticfiles collected
staticfiles/
